{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block main %}
<div class="container profile">
    <h2>{{ user_profile.username }}さんのプロフィール</h2><br>
    <h3>投稿した問題</h3><br>

    {% if snippets %}
    <table class="table">
        <thead>
        <tr>
            <th>投稿者</th>
            <th>投稿日</th>
            <th>科目</th>
            <th>タイトル</th>
        </tr>
        </thead>
        <tbody>
            {% for snippet in snippets %}
                <tr>
                    <td>{{ snippet.created_by.username }}</td>
                    <td>{{ snippet.created_at }}</td>
                    <td>
                        {% if snippet.tags %}
                            {% for tag in snippet.tags.all %}
                                <span>{{ tag.name }}</span>
                            {% endfor %}
                        {% else %}
                            <span>empty<span>
                        {% endif %}
                    <th><a href="{% url 'snippet_detail' snippet.id %}" style="color:#ffffff;">{{ snippet.title }}</a></th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>問題はまだ投稿されていません．</p>
    {% endif %}

</div>

{% endblock %}