{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %} 

{% block main %}
<div class="container snippet-detail">
    <h2 class="snippet-title"><span>{{ snippet.title }}</span>
    {% if snippet.tags %}
        {% for tag in snippet.tags.all %}
            <span class = "subject">{{ tag.name }}</span>
        {% endfor %}
    {% endif %}</h2>
    <div class="snippet-header">
        <div class="snippet-meta">
            <p class="snippet-date">投稿日： {{ snippet.created_at|date:'DATETIME_FORMAT' }}</p>
        </div>
    </div>

    <div class="snippet-section">

        <h3 class="section-title">問題</h3>
        {% if snippet.image %}
        <div class="snippet-image">
            <img src="{{ snippet.image.url }}" alt="問題画像">
            <style>
                .snippet-image img {
                    max-width: 100%;
                    height: auto;
                    display: block;
                    margin: 0 auto;
                }
            </style>
        </div>
        {% endif %}
    </div><br>

    {% if snippet.question %}
    <div class="snippet-section">
        <div class="snippet-description">
            {{ snippet.question |safe }}
        </div>
    </div><br>
    {% endif %}

    {% if snippet.answer %}
    <div class="snippet-section">
        <h3 class="section-title">解説</h3>

        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script>
        $(function() {
            $(".filter").click(function() {
                $(".unvisible").toggleClass("snippet-description");
            });
        });
        </script>
        <div class="filter">解説の表示・非表示</div>
        <div class="unvisible">
            {{ snippet.answer |safe }}
        </div>


    
    </div>

    {% endif %}
    <div class="like-wrapper"> 
    {% if liked %}
    <button id="like-button" class="liked">
        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 100 100">
            <path class="liked" stroke-width="10" d="M 8,33 A 21,21 0,0,1 50,33 A 21,21 0,0,1 92,33 Q 93.66, 60.89 50,90 Q 6.34, 60.89 8,33 z" />
        </svg>
    </button>

    {% else %}
    <button id="like-button" class="like">
        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 100 100">
            <path class="like" stroke-width="10" d="M 8,33 A 21,21 0,0,1 50,33 A 21,21 0,0,1 92,33 Q 93.66, 60.89 50,90 Q 6.34, 60.89 8,33 z" />
        </svg>
    </button>
    {% endif %}


    <span id="likes-count" style="color:black;font-family:sans-serif;">{{ snippet.likes }}</span>
    <div class="descript">いいね！</div>
    </div>

    <script>
        $(document).ready(function() {
            $('#like-button').on('click', function() {
                var snippetId = $(this).data('snippet-id');

                $.ajax({
                    url: '{% url "like_snippet" snippet_id=snippet.id %}',
                    method: 'POST',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    success: function(response) {
                        $('#likes-count').text(response.likes);

                        if (response.liked) {
                            $('#like-button').html('<svg class="like-animation" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 100 100"><path class="liked" stroke-width="10" d="M 8,33 A 21,21 0,0,1 50,33 A 21,21 0,0,1 92,33 Q 93.66, 60.89 50,90 Q 6.34, 60.89 8,33 z" /></svg>');
                        } else {
                            $('#like-button').html('<svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 100 100"><path class="like" stroke-width="10" d="M 8,33 A 21,21 0,0,1 50,33 A 21,21 0,0,1 92,33 Q 93.66, 60.89 50,90 Q 6.34, 60.89 8,33 z" /></svg>');
                        }
                    }
                });
            });
        });
    </script><br>

    {% if user.is_authenticated and snippet.created_by_id == user.id %}
    <a href="{% url 'snippet_edit' snippet.id %}" class="btn btn-primary btn-edit">回答/編集</a></p>
    {% elif user.is_authenticated %}
        {% if snippet.answer %}
        {% else %}
        <a href="{% url 'snippet_answer' snippet.id %}" class="btn btn-primary btn-edit">回答する</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}