{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %} 

{% block main %}
<div class="container snippet-detail">
    <h2 class="snippet-title"><span>{{ snippet.title }}</span>
    {% if snippet.tags %}
        {% for tag in snippet.tags.all %}
            <span class = "subject">{{ tag.name }}</span>
        {% endfor %}
    {% endif %}</h2>
    <div class="snippet-header">
        <div class="snippet-meta">
            <p class="snippet-date">投稿日： {{ snippet.created_at|date:'DATETIME_FORMAT' }}</p>
        </div>
    </div>

    <div class="snippet-section">
        {% if snippet.image %}
        <h3 class="section-title">問題画像</h3>
        <div class="snippet-image">
            <img src="{{ snippet.image.url }}" alt="問題画像">
        </div>
        {% endif %}
    </div><br>

    {% if snippet.question %}
    <div class="snippet-section">
        <h3 class="section-title">問題</h3>
        <div class="snippet-code">
            {{ snippet.question |safe }}
        </div>
    </div><br>
    {% endif %}

    <div class="snippet-section">
        <h3 class="section-title">解説</h3>
        <div class="snippet-description">
            {{ snippet.answer |safe }}
        </div>
    </div><br>
    <span><button class="like">❤️</button></span>{{ snippet.likes }}

    <script>
    document.getElementById('like-button').addEventListener('click', function() {
        fetch('{% url "like_snippet" snippet.id %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        }).then(response => response.json())
        .then(data => {
            if (data.likes) {
                document.getElementById('likes-count').innerText = data.likes;
            } else if (data.message) {
                alert(data.message);
            }
        });
    });
    </script><br>
    {% if user.is_authenticated and snippet.created_by_id == user.id %}
    <a href="{% url 'snippet_edit' snippet.id %}" class="btn btn-primary btn-edit">解答/編集</a></p>
    {% elif user.is_authenticated %}
    <a href="{% url 'snippet_answer' snippet.id %}" class="btn btn-primary btn-edit">解答する</a>
    {% endif %}
</div>

{% endblock %}