{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block main %}
<div class="container snippet-detail">
    <style>
        .form-title {
            margin-top: 20px;
            color: #4682b4;
        }
    </style><br>
    <h2 class="snippet-title">問題の編集</h2>
    <form method="post" enctype='multipart/form-data' style="color:black;">
        {% csrf_token %}
        {% bootstrap_field form.title %}
        {% bootstrap_field form.image %}
        {% bootstrap_field form.question %}
        {% bootstrap_field form.answer %}
        <p>科目</p>
        <div class="selectsubject">
        {% for group in tag_groups %}
            <div class="eachsubject">
            <h4>{{ group.name }}</h4>
            {% if group.children.all %}
                <ul>
                    {% for child in group.children.all %}
                        <li>{{ child.name }}</li>
                        {% if child.children.all %}
                            <ul>
                                {% for grandchild in child.children.all %}
                                    <li>{{ grandchild.name }}</li>
                                    {% if grandchild.children.all %}
                                        <ul>
                                            {% for grandgrandchild in grandchild.children.all %}
                                                <li class="unlist">
                                                    <input type="checkbox" id="tag-{{ grandgrandchild.id }}" name="tag_groups" value="{{ grandgrandchild.id }}">
                                                    <label for="tag-{{ grandgrandchild.id }}">{{ grandgrandchild.name }}</label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        {% endfor %}
        </div>
        <span>レベル{{ form.level }}</span><br><br>
        {% bootstrap_button button_type="submit" content='登録' %}
    </form>
</div>
{% endblock %}