{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}


{% block main %}
<div class="welcome">
    
    <h1 class="title"><b></b></h1><br>
    {% if user.is_authenticated %}
        <a class="btn btn-success" href="{% url 'snippet_new' %}">投稿する</a>
    {% else %}<br>
        <div class="flame">
            <p>投稿するにはログインまたは会員登録が必要です．</p>
            <div style="text-align: center;">
                <span><a style="margin: 10px;" class="btn btn-success" href="{% url 'login' %}">ログイン</a></span>
                <span><a style="margin: 10px;" class="btn btn-success" href="{% url 'signup' %}">会員登録</a></span>
            </div>
        </div>
    {% endif %}
</div>

{% comment %} ここにタグ絞り込み {% endcomment %}
<div>
    <span class="h2 title">回答済み投稿一覧</span><span class="h3"><a href="{% url 'unanswered' %}" style="color:white">未回答投稿一覧</a></span><br><br>
    <h4>科目で絞り込み</h4>
    <a href="{% url 'top' %}"><span class="subject-filter">すべて</span></a>
    {% for tag in tags %}
        <a href="{% url 'top' %}?subject={{ tag.name }}"><span class="subject-filter">{{ tag.name }}</span></a>
    {% endfor %}<br><br>
    <h4>レベルで絞り込み</h4>
    <a href="{% url 'top' %}"><span class="subject-filter">すべて</span></a>
    <a href="{% url 'top' %}?level=1"><span class="subject-filter">1 - 基礎</span></a>
    <a href="{% url 'top' %}?level=2"><span class="subject-filter">2 - 標準</span></a>
    <a href="{% url 'top' %}?level=3"><span class="subject-filter">3 - 応用</span></a>
    <a href="{% url 'top' %}?level=4"><span class="subject-filter">4 - 発展</span></a>
    <a href="{% url 'top' %}?level=5"><span class="subject-filter">5 - 難問</span></a>
</div><br>

<div class="class1">
    {% if snippets %}
    <table id="sortable-table" class="table">
        <thead>
        <tr>
            <th class="tablehuman">投稿者</th>
            <th class="tablesubject">科目</th>
            <th class="tablecontent">タイトル</th>
            <th class="tablelevel" onclick="sortTable(3); console.log('Clicked!')">レベル</th>
        </tr>
        </thead>
        <tbody class="tbody">
        {% for snippet in snippets %}
            {% if snippet.answer %}
            <tr>
                <td class="tablehuman"><a href="{% url 'profile' snippet.created_by_id %}" style="color:white"><b>{{ snippet.created_by.username }}</b></a></td>
                <td class="tablesubject">
                    {% if snippet.tags %}
                        {% for tag in snippet.tags.all %}
                            <span>{{ tag.name }}</span>
                        {% endfor %}
                    {% else %}
                        <span>empty<span>
                    {% endif %}
                </td>
                <td class="tablecontent"><a href="{% url 'snippet_detail' snippet.id %}" style="color:white"><b>{{ snippet.title }}</b></a></td>
                <td class="tablelevel" data-level="{{ snippet.level }}">
                    {% if snippet.level == 1 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 100 100">
                            <path fill="#ffffff" stroke-width="none" d="M 41.45,1.51 L 50.00,10.00 L 58.55,1.51 Q 74.90,27.18 50.00,40.00 Q 25.10,27.18 41.45,1.51 "/>
                        </svg>
                    {% elif snippet.level == 2 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 100 100">
                            <path fill="#ffffff" stroke-width="none" d="M 41.45,1.51 L 50.00,10.00 L 58.55,1.51 Q 74.90,27.18 50.00,40.00 Q 25.10,27.18 41.45,1.51 z M 93.48,26.88 L 88.05,37.63 L 98.76,43.14 Q 79.40,66.63 59.51,46.91 Q 64.01,19.26 93.48,26.88 z"/>
                        </svg>
                    {% elif snippet.level == 3 %}  
                        <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 100 100">
                            <path fill="#ffffff" stroke-width="none" d="M 41.45,1.51 L 50.00,10.00 L 58.55,1.51 Q 74.90,27.18 50.00,40.00 Q 25.10,27.18 41.45,1.51 z M 85.42,84.21 L 73.51,82.37 L 71.58,94.26 Q 43.26,83.11 55.87,58.09 Q 83.56,53.83 85.42,84.21 z M 93.48,26.88 L 88.05,37.63 L 98.76,43.14 Q 79.40,66.63 59.51,46.91 Q 64.01,19.26 93.48,26.88 z"/>
                        </svg>
                    {% elif snippet.level == 4 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 100 100">
                            <path fill="#ffffff" stroke-width="none" d="M 41.45,1.51 L 50.00,10.00 L 58.55,1.51 Q 74.90,27.18 50.00,40.00 Q 25.10,27.18 41.45,1.51 z M 28.42,94.26 L 26.49,82.37 L 14.58,84.21 Q 16.44,53.83 44.13,58.09 Q 56.74,83.11 28.42,94.26 z M 85.42,84.21 L 73.51,82.37 L 71.58,94.26 Q 43.26,83.11 55.87,58.09 Q 83.56,53.83 85.42,84.21 z M 93.48,26.88 L 88.05,37.63 L 98.76,43.14 Q 79.40,66.63 59.51,46.91 Q 64.01,19.26 93.48,26.88 z"/>
                        </svg>
                    {% elif snippet.level == 5 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 100 100">
                            <path fill="#ffffff" stroke-width="none" d="M 41.45,1.51 L 50.00,10.00 L 58.55,1.51 Q 74.90,27.18 50.00,40.00 Q 25.10,27.18 41.45,1.51 z M 1.24,43.14 L 11.95,37.63 L 6.52,26.88 Q 35.99,19.26 40.49,46.91 Q 20.60,66.63 1.24,43.14 z M 28.42,94.26 L 26.49,82.37 L 14.58,84.21 Q 16.44,53.83 44.13,58.09 Q 56.74,83.11 28.42,94.26 z M 85.42,84.21 L 73.51,82.37 L 71.58,94.26 Q 43.26,83.11 55.87,58.09 Q 83.56,53.83 85.42,84.21 z M 93.48,26.88 L 88.05,37.63 L 98.76,43.14 Q 79.40,66.63 59.51,46.91 Q 64.01,19.26 93.48,26.88 z"/>
                        </svg>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <script>
        function sortTable(columnIndex) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("sortable-table");
            switching = true;
            dir = "asc"; 
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[columnIndex];
                    y = rows[i + 1].getElementsByTagName("TD")[columnIndex];
                    // レベルをdata-level属性から取得して比較
                    var xLevel = parseInt(x.getAttribute('data-level'));
                    var yLevel = parseInt(y.getAttribute('data-level'));
                    if (dir == "asc") {
                        if (xLevel > yLevel) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (xLevel < yLevel) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
        </script>
    {% else %}
    <p>問題はまだ投稿されていません．</p>
    {% endif %}
    <p>{{ visitor_number }}</p>
</div>
{% endblock %}