{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block main %}

<div class="welcome">
    <h1 class="title"><b>🙂数学🙂</b></h1>
    <p>わからない問題を聞いてみよう</p>
    {% if user.is_authenticated %}
        <a class="btn btn-success" href="{% url 'snippet_new' %}">投稿する</a>
    {% else %}
        <p>投稿するにはログインまたは会員登録が必要です．</p>
        <div style="display: flex;">
        <a style="margin: 10px;" class="btn btn-success" href="{% url 'login' %}">ログイン</a>
        <a style="margin: 10px;" class="btn btn-success" href="{% url 'signup' %}">会員登録</a>
        </div>
    {% endif %}
    <h1 class="title">未回答の質問一覧</h1>
    <a class="btn btn-primary" href="{% url 'snippet_new' %}">新しい質問を投稿する</a>
</div>

<div class="class1">
    {% if snippets %}
    <table class="table">
        <thead>
        <tr>
            <th>投稿者</th>
            <th>投稿日</th>
            <th>科目</th>
            <th>タイトル</th>
        </tr>
        </thead>
        <tbody>
        {% for snippet in snippets %}
            {% if snippet.answer %}
            {% else %}
            <tr>
            <th><a href="{% url 'profile' snippet.created_by_id %}" style="color:white">{{ snippet.created_by.username }}</a></th>
            <th>{{ snippet.created_at }}</th>
            <th>
                {% if snippet.tags %}
                    {% for tag in snippet.tags.all %}
                        <span>{{ tag.name }}</span>
                    {% endfor %}
                {% else %}
                    <span>empty<span>
                {% endif %}
            </th>
            <th><a href="{% url 'snippet_detail' snippet.id %}" style="color:white">{{ snippet.title }}</a></th>
        </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>未回答の質問はまだありません</p>
    {% endif %}
</div>
{% endblock %}