{% extends 'base.html' %}

{% block main %}

<div class="welcome">
    <h1 class="title">未回答の質問一覧</h1>
    <a class="btn btn-primary" href="{% url 'snippet_new' %}">新しい質問を投稿する</a>
</div>

<div class="class1">
    {% if questions %}
    <table class="table">
        <thead>
            <tr>
                <th>質問タイトル</th>
                <th>投稿者</th>
                <th>投稿日</th>
                <th>質問内容</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td><a href="{% url 'question_detail' question.id %}">{{ question.title }}</a></td>
                <td>{{ question.created_by.username }}</td>
                <td>{{ question.created_at }}</td>
                <td>{{ question.content }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>未回答の質問はありません。</p>
    {% endif %}
</div>

{% endblock %}
