/* Reset CSS */
* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-image: url('https://th.bing.com/th/id/OIP.5YSUdCDKhudyByfCYqVa8AAAAA?rs=1&pid=ImgDetMain');
}

.bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* 全体のページスタイル */
body {
    font-family: '游明朝', serif;
    position: relative;
    background-color: #e9f1f7; /* 淡い青系の背景色 */
    color: #f5f5f5; /* テキストの色を暗めに設定 */
    line-height: 1.6;
}

.btn-edit {
    position: relative;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-edit:hover {
    position: relative;
    background-color: #0056b3;
}

.comment {
    padding: 0ch 30px;
    background-color: #e8e8e8;
    margin-bottom: 10px;
    font-family: sans;
}

.comment-section {
    display: block !important;
    background-color: none;
    color: #000000;
}

.custom-select {
    position: relative;
    font-family: Arial;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    transition: 0.25s;
}

.descriptlike {
    position: absolute;
    visibility: hidden;
    width: 50px;
    background-color: #909090;
    text-align: center;
    color: #fffefe;
    border-radius: 6px;
    padding: 3px;
    bottom: -30%;
    left: 0%;
    margin-left: -10px;
    margin-bottom: -18px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 10px;
    font-family: sans-serif;
    z-index: 9;
}

.descriptcomment {
    position: absolute;
    visibility: hidden;
    width: 50px;
    background-color: #909090;
    text-align: center;
    color: #fffefe;
    border-radius: 6px;
    padding: 3px;
    bottom: -30%;
    left: 0%;
    margin-left: -9px;
    margin-bottom: -20px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 10px;
    font-family: sans-serif;
    z-index: 9;
}

.descriptbookmark {
    position: absolute;
    visibility: hidden;
    width: 70px;
    background-color: #909090;
    text-align: center;
    color: #fffefe;
    border-radius: 6px;
    padding: 3px;
    bottom: -30%;
    left: 0%;
    margin-left: -16px;
    margin-bottom: -17px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 10px;
    font-family: sans-serif;
    z-index: 9;
}

.like-wrapper {
    position: relative;
}

.comment-wrapper {
    position: relative;
}

.bookmark-wrapper {
    position: relative;
}

.like-wrapper button:hover ~ .descriptlike {
    transition-delay : 0.5s;
    visibility: visible !important;
    opacity: 1;
    z-index: 9999;
}

.comment-wrapper button:hover ~ .descriptcomment {
    transition-delay : 0.5s;
    visibility: visible !important;
    opacity: 1;
    z-index: 9999;
}

.bookmark-wrapper button:hover ~ .descriptbookmark {
    transition-delay : 0.5s;
    visibility: visible !important;
    opacity: 1;
    z-index: 9999;
}

.like-wrapper, .comment-wrapper, .bookmark-wrapper {
    float: left;
    margin-right: 30px;
}

.flame {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    border: #f0f0f0 solid 1px;
    border-radius: 5px;
}

.filter {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #ccc;
    transition: 0.25s;
    padding: 6px 18px;
    cursor: pointer;
    font-size: 14px;
    margin: 3px;
    position: relative;
    bottom: 5px;
    color: rgb(0, 0, 0);
}

.filter:hover {
    position: relative;
    background-color: #5abcc5;
}

.form-title {
    position: relative;
    margin-top: 20px; /* ここで余白の大きさを調整 */
    color: #4682b4; /* ブルー */
}

.h2 {
    font-size:xx-large;
}

.h3 {
    padding-left: 20px;
    font-size: large;
}

.like {
    position: relative;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    fill: white;
    stroke: rgb(200, 200, 200);
}

 .like:hover {
    stroke: #ff00ba;
 }

 .comment-button {
    position: relative;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    fill: rgb(200, 200, 200);
    stroke: rgb(200, 200, 200);
    stroke-width: 17px;
    pointer-events: auto;
    bottom: -3px;
 }

 .comment-button:hover {
    stroke: #0059ff;
    fill: #0059ff;
 }

 .bookmark-button:hover {
    stroke: #ccff00;
 }

 .bookmarked {
    position: relative;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    stroke: #fff000;
    fill: #fff000;
 }

 .bookmark {
    position: relative;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    stroke: rgb(200, 200, 200);
    fill: #ffffff;
 }

 .liked {
    position: relative;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    fill: #ff00ba;
    stroke: #ff00ba;
 }

.link {
    position: relative;
    font: white;
}

/* メインコンテンツのスタイル */
.main {
    position: relative;
    background-color: #ffffff; /* メインコンテンツの背景色を白に設定 */
    color: #ffffff; /* テキストの色を暗めに設定 */
    padding: 20px;
    border-radius: 5px; /* 角を丸める */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影をつける */
}

main {
    padding: 10rem 0;
}

/* ナビゲーションバーのスタイル */
.navbar {
    position: relative;
    background-color: #007bff; /* ナビゲーションバーの青色 */
    color: #fff; /* ナビゲーションのテキスト色を白に設定 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 少しの影をつける */
}

.navbar-brand, .navbar-nav .nav-link {
    position: relative;
    color: #fff; /* ナビゲーションのリンクの色 */
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    position: relative;
    color: #ccc; /* ナビゲーションのリンクのホバー時の色 */
}

.snippet-detail {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    margin-top: 20px;
    clip-path: polygon(0 0, calc(100% - 100px) 0, 100% 100px, 100% 100%, 0 100%);
}

.snippet-detail::after {
    top: 0%;
    right: 0%;
    /* // 14 x 14 px の正方形 */
    height: 100px;
    width: 100px;
    /* // 折り返し部分のカラー */
    background-color: rgba(0, 0, 0, 0.594);
    /* // 右上半分を切り抜き(三角形) */
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }

.snippet-detail::before, .snippet-detail::after {
    content: "";
    position: absolute;
    z-index: -1;
  }

.snippet-title {
    position: relative;
    color: #4682b4;
    margin-bottom: 10px;
}

.snippet-header {
    position: relative;
    margin-bottom: 20px;
}

.snippet-meta {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snippet-date {
    position: relative;
    color: #6c757d;
    margin-bottom: 0;
}

.section-title {
    position: relative;
    color: #4682b4;
    border-bottom: 2px solid #4682b4;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.snippet-code {
    position: relative;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    overflow-x: auto;
}

.snippet-description {
    background-color: #f0f0f0;
    color: black;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.6;
    display: block;
}

.subject {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #ccc;
    transition: 0.25s;
    padding: 6px 18px;
    font-size: 14px;
    margin: 3px;
    position: relative;
    bottom: 5px;
}

.subject-filter {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #ccc;
    transition: 0.25s;
    padding: 6px 18px;
    cursor: pointer;
    font-size: 14px;
    margin: 3px;
    position: relative;
    bottom: 5px;
    color: white;
}

.subject-filter:hover {
    position: relative;
    background-color: rgb(90, 188, 197, 0.55);
}

table {
    width: 100%; /* テーブル全体の幅を指定 (任意) */
    border-collapse: collapse; /* ボーダーを重ねる (推奨) */
}

.tablecontent {
    width: 450px;
}

.tablehuman {
    width: 300px;
}

.tablelevel {
    width: 100px;
    text-align: center;
}

.tablesubject {
    width: 400px;
}

.table th {
    position: relative;
    font-family: sans-serif;
    color: #ffffff;
    background-color: transparent;
}

.table td {
    position: relative;
    font-family: sans-serif;
    color: #ffffff;
    background-color: transparent;
}

tbody {
    position: relative;
    font-family: sans-serif;
    color: #ffffff;
    background-color: transparent;
}

.unvisible {
    display: none;
}

.welcome {
    position: relative;
    padding: 1rem 0;
    margin-bottom: 1rem;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size:20px;
    color:#ffffff;
}

.welcome h1 {
    font-weight: 700;
    font-style: normal;
    position: relative;
    color: #ffffff; /* リンクの青色 */
}

.welcome p {
    position: relative;
    font-size: 1.1rem;
    color: #ffffff; /* リンクのhover時の青色 */
 }

.class1 {
    position: relative;
    padding: 1rem 0;
    margin-bottom: 1rem;
    background-color: transparent;
    align-items: center;
    flex-direction: column;
    font-size:20px;
    color:#eee;
}

@keyframes like-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.like-animation {
    animation: like-animation 0.5s ease-in-out;
}

@keyframes bookmark-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.bookmark-animation {
    animation: bookmark-animation 0.5s ease-in-out;
}

@media print {
    body * {
        visibility: hidden;
    }

    .printable, .printable * {
        visibility: visible;
    }

    .printable {
        position: fixed;
        max-width: 700px; /* 例えば最大800pxまで広げる */
        margin: 0 auto; /* 水平方向に中央寄せ */
        top: 10px; /* ページ上部から10pxの位置に調整 */
        left: 10px; /* ページ左から10pxの位置に調整 */
        width: calc(100% - 20px); /* ページ幅から左右の余白を除いた幅 */
        padding: 10px; /* コンテンツ周りの余白 */
        box-sizing: border-box; /* パディングを含めて幅を計算 */
    }

    .no-print {
        display: none;
    }
}

.print1, .print {
    float: left;
}

.print {
    margin-left: auto;
    margin-right: 150px;
    margin-top: 10px;
    float: right !important;
}
