/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 全体のページスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #e9f1f7; /* 淡い青系の背景色 */
    color: #333; /* テキストの色を暗めに設定 */
    line-height: 1.6;
}

/* ナビゲーションバーのスタイル */
.navbar {
    background-color: #007bff; /* ナビゲーションバーの青色 */
    color: #fff; /* ナビゲーションのテキスト色を白に設定 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 少しの影をつける */
}

.navbar-brand, .navbar-nav .nav-link {
    color: #fff; /* ナビゲーションのリンクの色 */
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #ccc; /* ナビゲーションのリンクのホバー時の色 */
}

/* メインコンテンツのスタイル */
.main {
    background-color: #ffffff; /* メインコンテンツの背景色を白に設定 */
    color: #333; /* テキストの色を暗めに設定 */
    padding: 20px;
    border-radius: 5px; /* 角を丸める */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影をつける */
}

/* ウェルカムメッセージのスタイル */

.welcome {
    padding: 3rem 0;
    text-align: center;
    background-color: #cce5ff; /* 薄い青系の背景色 */
    border: 1px solid #b8daff; /* 薄い青系の枠線 */
    border-radius: 5px; /* 角を丸める */
    margin-bottom: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.welcome h1 {
    color: #4682b4; /* リンクの青色 */
}

.welcome p {
    font-size: 1.1rem;
    color: #6c757d; /* リンクのhover時の青色 */
 }


.snippet-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.snippet-title {
    color: #4682b4;
    margin-bottom: 10px;
}

.snippet-header {
    margin-bottom: 20px;
}

.snippet-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snippet-date {
    color: #6c757d;
    margin-bottom: 0;
}

.btn-edit {
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-edit:hover {
    background-color: #0056b3;
}

.section-title {
    color: #4682b4;
    border-bottom: 2px solid #4682b4;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.snippet-code {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    overflow-x: auto;
}

.snippet-description {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.6;
}

.table th {
    font-family: Arial;
    background-color: #ffffff;
    color: #4682b4;
}

.form-title {
    margin-top: 20px; /* ここで余白の大きさを調整 */
    color: #4682b4; /* ブルー */
}

.subject {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #ccc;
    transition: 0.25s;
    padding: 6px 18px;
    font-size: 14px;
    margin: 5px;
    position: relative;
    bottom: 5px;
}
